/*
 * View the source of maradns-009.css for information on the fonts
 * used here. 
 */
@import url('inline-fonts.css');

html {
        overflow-y: scroll;
	overflow: -moz-scrollbars-vertical;
        /*min-height: 100.1%;*/
}

#gata1 { display: none; }

#paypal { float: none; margin-top: 1em; }
#flattr { float: none; }

#trabalengua { display: none; }

#mobile { font-size: 18; }

body {
	font-family: Caulixtla, Georgia, serif;
        color: #151515;
	background-color: #fff;
	font-size: 14pt;
}

#maradns-name {
	font-family: Caulixtla, Arial, sans-serif;
	font-size: 42pt;
	line-height: 42pt;
	font-weight: bold;
}

#maradns-name i { font-style: normal; }

#maradns-t {
	font-family: Caulixtla, Arial, sans-serif;
        font-weight: bold;
        font-size: 14pt;
        letter-spacing: 1px;
	background: transparent;
	color: #000000;
}

.b {
	font-family: CaulixtlaB, Arial, sans-serif;
}

tt {
	font-size: 10pt;
}

pre {
	font-size: 10pt;
}

#logo {
	font-size: 300%;
}

h1 {
        font-size: 24.5pt;
        padding-top: 5px;
	font-family: Caulixtla, Arial, sans-serif;
        font-weight: bold;
        line-height: 100%;
}

h2 {
	font-family: Caulixtla, Arial, sans-serif;
        font-size: 16.7pt;
        font-weight: bold;
        line-height: 95%;
}

h3 {
	font-family: Caulixtla, Arial, sans-serif;
        font-size: 15pt;
        font-weight: bold;
        line-height: 95%;
}

.nocss {
	display: none;
}

.makenormal {
	display: none;
}

@media only screen {
	.mlogo {
		border: 2px solid #000000;
		padding: 3px;
		background: #ded1be url(mara-tile.jpg);
		color: #000000;
	}
}

.dlogo {
	border: 2px solid #000000;
        background-color: #70b566;
        background-image: url(fonts/aVGrad4l.png);
        background-size: 100px 500px;
        background-repeat: repeat-x;
        background-attachment: scroll;
	padding: 3px;
	text-align: center;
	color: #000000;
}

a { color: #258723; text-decoration: none; }
#mobile a { color: #258723; text-decoration: underline; }
#maradns-l a { color: #258723; text-decoration: underline; }
a:visited { color: #258723; text-decoration: none; }
a:hover { color: #258723; text-decoration: underline; }

@media (prefers-color-scheme: dark) {
        body { background-color: #131516; color: #d8d4cf; }
        #maradns-r { background-color: #131516; color: #d8d4cf; }
        #maradns-l { background-color: #131516; color: #d8d4cf; }
        #maradns-l a { background-color: #131516; color: #d8d4cf; }
        #trabalengua { background-color: #131516; color: #d8d4cf; }
        a { color: #78dc78; }
        a:visited { color: #78dc78; }
        a:hover { color: #78dc78; }
}

